body {
  background: linear-gradient(#de6161, #00cccc);
  color: seashell;
  font-family: "Courier New", Monospace;
}



footer [href = "https://www.ucvts.tec.nj.us/domain/16#calendar4326/20181010/month"]:hover
{
  background-color: #555;
  color: white;
}

footer [href = "https://www.ucvts.tec.nj.us/page/4698"]:hover
{
  background-color: #555;
  color: white;
}

footer [href = "info@example.com"]:hover
{
  background-color: #555;
  color: white;
}

body [href = "http://www.worldtaekwondo.org/"]:hover
{
  background-color: #555;
  color: white;
}

body [href = "https://msu.edu/~spock/history.html"]:hover
{
  background-color: #555;
  color: white;
}

.topnav {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

.topnav:current {
  background-color: #4CAF50;
  color: white;
}

.topnavitems {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

#topnav1:hover {
  background-color: #555;
  color: white;
}

#topnav2:hover {
  background-color: #555;
  color: white;
}

#topnav3:hover {
  background-color: #555;
  color: white;
}

#topnav4:hover {
  background-color: #555;
  color: white;
}
